@model Web.Models.ContentModel
@{
    ViewBag.Title = "Home Page";
    var ajaxUser = new AjaxOptions
    {
        UpdateTargetId = "userContent",
        Url = Url.Action("GetUserContent")
    };
    var ajaxManager = new AjaxOptions
    {
        UpdateTargetId = "managerContent",
        Url = Url.Action("GetManagerContent")
    };
    var ajaxAdmin = new AjaxOptions
    {
        UpdateTargetId = "adminContent",
        Url = Url.Action("GetAdminContent")
    };
}




<div class="jumbotron">
    @if (Model != null && Model.UserName != null)
    { <h2>Привет, @Model.UserName!</h2>}
    else
    { <h2>Привет, друг!</h2>}
    
    <p class="lead">Добро пожаловать в твой персональный кабинет! </p>
    @*<p class="lead">Здесь ты можешь создать запрос, если ты обычный пользователь 
    и обрабатывать множество запросов от других пользователей, если ты менеджер!</p>*@
    <p class="lead">Для ознакомления, перейди на страницу @Html.ActionLink("О сайте", "About").</p>
    <p class="lead">Адрес нашей компании можно узнать на странице @Html.ActionLink("Контакты", "Contact").</p>
</div>


<div class="row">

    @CreateNavTabs()

    <div id="myTabContent" class="tab-content">

        <div class="tab-pane fade active in" id="user">
            @using (Ajax.BeginForm(ajaxUser))
            {
                <div id="userContent">
                    @Html.Action("GetUserContent")
                </div>
            }

            @* create modal view *@
            <div id="modDialog" class="modal fade">
                <div id="dialogContent" class="modal-dialog"></div>
            </div>
            <br/>
            <input type="submit" id="createOrder" value="Создать запрос" onclick="OpenCreateRequestView()"/>
        </div>


        @if (Model.IsManager)
        {
            <div class="tab-pane fade " id="manager">
                @using (Ajax.BeginForm(ajaxManager))
                {
                    <div id="managerContent">
                        @Html.Action("GetManagerContent")
                    </div>
                }

                @* create modal view *@
                <div id="modDialog1" class="modal fade">
                    <div id="dialogContent1" class="modal-dialog"></div>
                </div>
            </div>
        }
        else if (Model.IsAdmin)
        {
            <div class="tab-pane fade " id="admin">
                @using (Ajax.BeginForm(ajaxAdmin))
                {
                    

                    <div id="adminContent">
                        @Html.Action("GetAdminContent", new { managerId = ViewBag.ManagerId })
                    </div>
                }
            </div>
        }

    </div>
    

</div>

@helper CreateNavTabs()
{
    <ul id="myTab" class="nav nav-tabs">
        <li class="active"><a href="#user" data-toggle="tab">Мои запросы</a></li>
        @if (Model != null)
        {
            if (Model.IsManager)
            {
                <li class=""><a href="#manager" data-toggle="tab">Менеджер</a></li>
            }
            else if (Model.IsAdmin)
            {
                <li class=""><a href="#admin" data-toggle="tab">Администратор</a></li>
            }
        }
        else
        {
            <li>Create navigation tabs Error. Sory!</li>
        }
    </ul>
}


<script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script>
    function OpenCreateRequestView() {
        $(function() {
            $.ajax({
                url: '@Url.Action("OrderView", "Home")',
                type: 'POST',
                success: function(data) {
                    $('#dialogContent').html(data);
                    $('#modDialog').modal('show');
                }
            });
        });
    }

    function OpenUpdateRequestView(id) {
        console.log(id);
        $(function() {
            var viewModel = {
                orderId: id
            }
            $.ajax({
                url: '@Url.Action("UpdateOrderView", "Home")',
                type: 'POST',
                data: viewModel,
                success: function(data) {
                    $('#dialogContent1').html(data);
                    $('#modDialog1').modal('show');
                }
            });
        });
    }

    function UpdateIndexContent(model, modDialogId) {

        if (modDialogId != null) {
            $(modDialogId).modal('hide');
        } else {
            $('#modDialog').modal('hide');
        }

        UpdateUserContent();

        try {
            if (model.IsManager) {
                UpdateManagerContent();
            } else if (model.IsAdmin) {
                UpdateAdminContent();
            }
        } catch (e) {
            console.log(e);
        }
    }

    function UpdateUserContent(page) {
        $(function() {
            console.log("in UpdateUserContent");
            var pageNumber = page;
            var viewModel = {
                page: pageNumber
            }

            $.ajax({
                url: '@Url.Action("GetUserContent")',
                data: viewModel,
                success: function(data) {
                    $('#userContent').html(data);
                }
            });
        });
    }

    function UpdateManagerContent(page) {
        $(function() {
            console.log("in UpdateManagerContent");

            var pageNumber = page;
            var viewModel = {
                page: pageNumber
            }
            $.ajax({
                url: '@Url.Action("GetManagerContent")',
                data: viewModel,
                success: function(data) {
                    $('#managerContent').html(data);
                }
            });
        });
    }

    function UpdateAdminContent(managerlist, page) {
        $(function() {
            console.log("in UpdateAdminContent: " + managerlist);
            console.log("in UpdateAdminContent: " + page);

            var pageNumber;
            if (page == null) {
                pageNumber = $(".btn-primary").html();
            } else {
                pageNumber = page;
            }

            var viewModel = {
                manager: managerlist,
                page: pageNumber
            }
            $.ajax({
                url: '@Url.Action("GetAdminContent")',
                data: viewModel,
                success: function(data) {
                    $('#adminContent').html(data);
                }
            });
        });
    }


</script>
<script>
    $(document).ready(function () {

        $('table[id="manager"] tr').click(function () {
            console.log("working");
            OpenUpdateRequestView($(this.cells[0]).text());
        });

        $('table[id="manager"] tr').click(function () {
            $('table[id="manager"] tr').removeClass();
            $(this).addClass('selected');
        });



        //$('#modDialog').on('hidden.bs.modal', function () { });
    });

</script>